/*
$teal-1: #fafefd;
$teal-2: #f3fbf9;
$teal-3: #e0f8f3; 
$teal-4: #ccf3ea;
$teal-5: #b8eae0;
$teal-6: #a1ded2;
$teal-7: #83cdc1;
$teal-8: #53b9ab;
$teal-9: #12a594;
$teal-10: #0d9b8a;
$teal-11: #008573;
$teal-12: #0d3d38;

$teal-dark-1: #0d1514;
$teal-dark-2: #111c1b;
$teal-dark-3: #0d2d2a;
$teal-dark-4: #023b37;
$teal-dark-5: #084843;
$teal-dark-6: #145750;
$teal-dark-7: #1c6961;
$teal-dark-8: #207e73;
$teal-dark-9: #12a594;
$teal-dark-10: #0eb39e;
$teal-dark-11: #0bd8b6;
$teal-dark-12: #adf0dd;
*/

$teal-1: #0d1514;
$teal-2: #111c1b;
$teal-3: #0d2d2a;
$teal-4: #023b37;
$teal-5: #084843;
$teal-6: #145750;
$teal-7: #1c6961;
$teal-8: #207e73;
$teal-9: #12a594;
$teal-10: #0eb39e;
$teal-11: #0bd8b6;
$teal-12: #adf0dd;


$amber-1: #fefdfb;
$amber-2: #fefbe9;
$amber-3: #fff7c2;
$amber-4: #ffee9c;
$amber-5: #fbe577;
$amber-6: #f3d673;
$amber-7: #e9c162;
$amber-8: #e2a336;
$amber-9: #ffc53d;
$amber-10: #ffba18;
$amber-11: #ab6400;
$amber-12: #4f3422;

$amber-dark-1: #16120c;
$amber-dark-2: #1d180f;
$amber-dark-3: #302008;
$amber-dark-4: #3f2700;
$amber-dark-5: #4d3000;
$amber-dark-6: #5c3d05;
$amber-dark-7: #714f19;
$amber-dark-8: #8f6424;
$amber-dark-9: #ffc53d;
$amber-dark-10: #ffd60a;
$amber-dark-11: #ffca16;
$amber-dark-12: #ffe7b3;

$blue-1: #fbfdff;
$blue-2: #f4faff;
$blue-3: #e6f4fe;
$blue-4: #d5efff;
$blue-5: #c2e5ff;
$blue-6: #acd8fc;
$blue-7: #8ec8f6;
$blue-8: #5eb1ef;
$blue-9: #0090ff;
$blue-10: #0588f0;
$blue-11: #0d74ce;
$blue-12: #113264;

$blue-dark-1: #0d1520;
$blue-dark-2: #111927;
$blue-dark-3: #0d2847;
$blue-dark-4: #003362;
$blue-dark-5: #004074;
$blue-dark-6: #104d87;
$blue-dark-7: #205d9e;
$blue-dark-8: #2870bd;
$blue-dark-9: #0090ff;
$blue-dark-10: #3b9eff;
$blue-dark-11: #70b8ff;
$blue-dark-12: #c2e6ff;
