.nav{
    position: absolute;
    width: 95%;
    bottom:-.5rem;
    left: 0;
    display: flex;
    justify-content:center;
    & li{
        display: inline-block;
        margin: .25rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: $teal-4;
        color: $teal-12;
    }


    & a, a:active, a:visited{
        display:inline-block;
        text-decoration: none;
        color: $teal-12;
        & :hover{
            background-color: $teal-5;
            border-color: $teal-7;
        }
    }
    @media (min-width: 1200px){
        justify-content: flex-end;
    }

}